<div class="container-xxl">
  <div class="row">
    <div class="col-6">
      {{ content.field_image }}
    </div>

    <div class="col-6">
      {{ content.body }}
      {{ content.field_author }}
    </div>
  </div>
</div>